.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.font-Raleway {
  font-family: 'Raleway', sans-erif;
}

.font-Lato {
  font-family: 'Lato', sans-erif;
}

.bolt__wrap {
  width: 100%;
  position: relative;
}

.bolt__header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width:100%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
}

.volt__header-icon-color {
  color: #333;
  transition-duration: 0.3s;
}

.volt__header-icon-color:hover {
  color: #333;
}

.bolt__header-button {
  padding: 14px 12px;
  background-color: #74cfae;
  cursor: pointer;
}

.button__contact {
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}

.bolt__main {
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
  padding: 250px 0;
}

.bolt__main-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
}

.bolt__main-lead {
  font-size: 30px;
  color: #c0c0c0;
}

.bolt__media {
  width: 100%;
  background-color: #74cfae;
}

.bolt__media-inner {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bolt__media-figure {
  margin-top: 50px;
}

.bolt__media-text {
  width: 60%;
  color: #fff;
  text-align: center;
}

.bolt__media-text-title {
  font-size: 24px;
  margin-bottom: 35px;
  color: #fff;
}

.bolt__media-text-content {
  font-size: 20px;
}

.bolt__article {
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 60px;
}

.bolt__article-inner {
  width: 1100px;
  margin: 0 auto;
}

.bolt__article-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 40px;
}

.bolt__article-grid {
  margin-bottom: -80px;
  }

.bolt__article-figure {
  margin-right: 100px;
  margin-bottom: 80px;
  opacity: 0.7;
  transition: 0.3s;
}

.bolt__article-figure:nth-child(3) , .bolt__article-figure:nth-child(6) {
  margin-right: 0px;
}

.bolt__article-figure:hover {
  opacity: 1;
}

.bolt__article-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 90px 0 70px
}

.bolt__article-form-text {
  font-size: 20px;
  width: 40%;
  margin-right: 90px;
  color: #333;
}

.bolt__article-form-button {
  background-color: #74cfae;
  padding: 14px 20px;
}

.bolt__article-form-value {
  color: #fff;
  transition: 0.3s;
}

.bolt__article-form-button:hover > .bolt__article-form-value {
  color: #333;
}

.bolt__status {
  width: 100%;
  background-color: #4e4e4e;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 100px;
}

.bolt__status-inner {
  width: 1100px;
  margin: 0 auto;
}

.bolt__status-title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 40px;
}

.bolt__status-graph {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bolt__status-figure {
  margin-right: 180px;
}

.bolt__status-figure:last-child {
  margin-right: 0px;
}

.bolt__status-caption {
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
}

.bolt__nav {
  width: 100%;
  background-color: #f2f2f2;
}

.bolt__nav-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0 200px;
}

.bolt__nav-icon {
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  height: 100px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.bolt__nav-icon:hover {
  background-color: #fff;
}

.bolt__nav-icon-color {
  color: #74cfae;
}

.volt__footer {
  background-color: #74cfae;
  padding: 20px 0 25px;
}

.volt__footer-rigth {
  width: 50%;
  margin-left: 50%;
}

.volt__footer-item {
  text-align: center;
  color: #fff;
}
/*
@media screen and (min-width: 767px) and (max-width: 1199px){
  .bolt__media {
    flex-direction: column;
  }
}

@media screen and (min-width: 766px){
  
}