.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.font-Raleway {
  font-family: 'Raleway', sans-erif;
}

.font-Lato {
  font-family: 'Lato', sans-erif;
}

.bolt__common-inner {
  width: 1100px;
  margin: 0 auto;
}

.bolt__wrap {
  position: relative;
}

.bolt__header {
  position: fixed;
  top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  width:100%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
}

.bolt__header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bolt__header-icon-color {
  color: #333;
}

.bolt__header-button {
  padding: 14px 12px;
  background-color: #74cfae;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  transition-duration: 0.3s;
}

.bolt__header-button:hover {
  color: #333;
}

.bolt__main {
  margin-top: 78px;
}

.bolt__theme {
  background-color: #f2f2f2;
  text-align: center;
  padding: 250px 0;
}

.bolt__theme-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
}

.bolt__theme-lead {
  font-size: 30px;
  color: #c0c0c0;
}

.bolt__media {
  background-color: #74cfae;
}

.bolt__media-inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
}

.bolt__media-text {
  width: 60%;
  color: #fff;
  text-align: center;
}

.bolt__media-text-title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 35px;
}

.bolt__media-text-content {
  font-size: 20px;
}

.bolt__gallery {
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 70px;
}

.bolt__gallery-title {
  margin-bottom: 40px;
  font-size: 24px;
  color: #333;
}

.bolt__gallery-grid {
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  }

.bolt__gallery-img {
  margin-bottom: 80px;
  margin-right: 100px;
  opacity: 0.7;
  transition: 0.3s;
}

.bolt__gallery-img:nth-child(3n) {
  margin-right: 0px;
}

.bolt__gallery-img:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.bolt__gallery-img:hover {
  opacity: 1;
}

.bolt__gallery-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bolt__gallery-form-text {
  font-size: 20px;
  width: 40%;
  margin-right: 90px;
  color: #333;
}

.bolt__gallery-form-button {
  background-color: #74cfae;
  padding: 14px 20px;
  font-size: 12px;
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
}

.bolt__gallery-form-button:hover {
  color: #333;
}

.bolt__status {
  background-color: #4e4e4e;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 100px;
}

.bolt__status-title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 40px;
}

.bolt__status-graph {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bolt__status-img {
  margin-right: 180px;
}

.bolt__status-img:last-child {
  margin-right: 0px;
}

.bolt__status-caption {
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
}

.bolt__nav {
  background-color: #f2f2f2;
  padding: 200px 0 ;
}

.bolt__nav-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bolt__nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  padding: 25px 0 ;
  transition-duration: 0.3s;
}

.bolt__nav-icon:hover {
  background-color: #fff;
}

.bolt__nav-icon-color {
  color: #74cfae;
}

.bolt__footer {
  background-color: #74cfae;
  padding: 20px 0 25px;
}

.bolt__footer-item {
  text-align: right;
  color: #fff;
}
/*
@media screen and (min-width: 767px) and (max-width: 1199px){

  .bolt__common-inner {
    width: 97%;
  }

  .bolt__media-inner {
    flex-direction: column;
  }

  .bolt__media-text {

  }

  .bolt__gallery-grid {
    flex-direction: column;
  }

  .bolt__status-graph {
    flex-direction: column;
  }
}

@media screen and (min-width: 766px){
  
}*/